$primary: 'blue';

body {
  padding: 50px;
  font: 14px 'monaco', monospace;
}

img {
  max-width: 200px;
}

a{
  color: #00B7FF;
}

#content {
  width: 800px;
  margin-left: auto;
  margin-right: auto;
}

#room {
  background-color: #ddd;
  margin-bottom: 1em;
}

#messages {
  width: 690px;
  height: 300px;
  overflow: auto;
  background-color: #eee;
  margin-bottom: 1em;
  margin-right: 10px;
}

#room-list {
  float: right;
  width: 100px;
  height: 300px;
  overflow: auto;

}

#room-list div {
  border-bottom: 1px solid #eee;

}
#room-list div:hover {
  background-color: #ddd;
}
